@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   background: transparent;
   overscroll-behavior: none;
}

body {
   font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

#root {
   width: 100%;
   height: 100vh;
   border-radius: 12px;
   overflow: hidden;
}

.xterm .scrollbar {
   width: 5px !important;
}
.xterm .scrollbar .slider {
   width: 5px !important;
   border-radius: 999px;
}
